<div class="cart--item-list-container">
  <ul class="item-list cart--item-list">
    <li *ngFor="let cartItem of cart">
      <img
        class="cart--item-icon"
        src="assets/icons/{{ cartItem.id }}.svg"
        alt="{{ cartItem.name }}"
      />
      <p>{{ cartItem.name }}</p>
      <button
        class="quantity-btn remove-btn center"
        (click)="decreaseQuantity(cartItem)"
      >
        -
      </button>
      <span class="quantity-text center">{{ cartItem.quantity }}</span>
      <button
        class="quantity-btn add-btn center"
        (click)="increaseQuantity(cartItem)"
      >
        +
      </button>
    </li>
  </ul>
</div>
