<ng-template ngIf="items; else elseblock">
  <label for="filter">Filter: </label>
  <select #filter (change)="updateFilterBy(filter.value)">
    <option value="all">Show all</option>
    <option value="fruit">Fruits</option>
    <option value="vegetable">Vegetables</option>
  </select>
  <ul class="item-list store--item-list">
    <app-store-item
      *ngFor="let item of filteredItems | async"
      [item]="item"
      (add)="addItemToCart($event)"
    ></app-store-item>
  </ul>
</ng-template>
<ng-template #elseblock
  ><h2>Something went wrong when loading.</h2></ng-template
>
